     @import "font-awesome";
   .searchlogo{
      top:20%;
   }
   .logoimg{
      z-index: 3;
      position: relative;
      top:20%;
   }
   .search-nav{
      background:rgba(0,0,0,0.0);
      z-index: 3;
      position: relative;
   }
    .search-field  {
       border-radius: 15px 0px 0px 15px;
      transition: all 0.5s;
   }
   .search-field:hover {
      background:rgba(0,0,0,0.4);
   }
   .search-nav .search-field > input{
      border:none;
      border-radius: 15px;
      /* background-color: #000000; */
   }
   /*검색폼의 input필드 */
   .input-field.search-input{
   background-color: white;
    border: none;
    border-radius: 10px;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem; 
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
    margin-bottom: 15px;
   }
   .firstLoad{
      top:45%;
      left: 45%;
      position: fixed;
   }

   .my {
      border: none;
      cursor: pointer;
      padding: 25px 80px;
      margin-left: 30px;
      text-transform: uppercase;
      background: rgba(57, 73, 171, 0.8);
      font-weight: 500;
      outline: none;
      position: relative;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
   }
   .my-3 {
      background: rgba(57, 73, 171, 0.8);
      color: #fff;
   }
   .my-3:hover {
      background: rgba(40, 53, 147, 0.8);
   }
   .my-3:focus{
      background: rgba(40, 53, 147, 0.8);
   }
   .my-3:active {
      background: rgba(26, 35, 126,0.8);
      top: 2px;
   }
   .my-3:before {
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      line-height: 3;
      font-size: 140%;
      width: 60px;
   }
   .my-3d {
      /* padding: 25px 60px 25px 120px; */
      border-radius: 5px 5px 5px 5px;
   }
   .my-3d:before {
      content: "\f002";
      font-family: FontAwesome;
      background: #f9fbe7;
      width: 20%;
      color: rgba(57, 73, 171, 0.8);
      z-index: 2;
      border-radius: 5px 0 0 5px;
   }

   .my-3d:active:before {
      color: rgba(26, 35, 126,0.8);
   }

		/* nav .nav-wrapper  button{
			border-radius: 10px;
			width: 100%;
			left:-10px;
			box-shadow: 1px 1px 2px 1px rgba(0,0,0,.4) inset , 0 1px 0 rgba(0,0,0,.2);
			background:rgba(26, 35, 126,0.4);
			color : white;
			height: 100%;
			border : none;
			background: rgba(26, 35, 126,0.5);
			box-shadow: 1px 1px 0px 0px rgba(255,255,255,.3) inset , 0 1px 0 rgba(255,255,255,.5);
			transition: all 150ms linear;
		}
		nav .nav-wrapper button:hover {
		background: #1a237e;
			background: rgba(26, 35, 126,0.9);
			transition: all 250ms linear;
		} */



/* Icon Float Away */



	/* 	@keyframes slidein {
		from {
			margin-left: 0%;
		}
		to {
			margin-left: -50%;
		}
	} */