@import "font-awesome";
   .searchlogo{
      top:20%;
   }
   .logoimg{
      z-index: 3;
      position: relative;
   }
   .search-nav{
      background:rgba(0,0,0,0.0);
      z-index: 2;
      position: relative;
   }
   .search-field  {
      transition: all 0.5s;
   }
   .search-field:hover {
      background:rgba(0,0,0,0.4);
   }
  .search-field > input{
      border:none;
      border-radius: 15px;
      /* background-color: #000000; */
   }
   .main-nav{
		background-color:#546e7a;
		border: none;
		box-shadow: none;
		z-index: 4;
	}
	.logo-search-field {
		margin: 13px auto 0px auto;
		height: 40px;
		background-color: white;
		border-radius: 7px;
	}
	.logo-search-field .logo-search-input{
		margin-top:-2px;
		border: none;
		box-shadow: none;
		-webkit-appearance: none;
		background: rgba(0,0,0,0);
		outline: none;
		color:black;
	}
	.logo-search-field .logo-search-input::-webkit-input-placeholder{
			color: #546e7a;
	}
	.search-label {
		text-align: center;
	}
	.logo-search-field .search-label > i {
		color: #546e7a;
		margin-top: -10px;
		cursor: pointer;
		font-weight: 500px;
		font-size: 25px;
	}
	.logo-search-field .logo-search-input[type=search]:focus{
		border: none;
		box-shadow: none;
		-webkit-appearance: none;
		outline: none;
	}
   /*검색폼의 input필드 */
   .input-field.search-input{
   background-color: white;
    border: none;
    border-radius: 10px;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem; 
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
    margin-bottom: 15px;
   }
   .firstLoad{
      top:45%;
      left: 45%;
      position: fixed;
   }

   .my {
      border: none;
      cursor: pointer;
      padding: 25px 80px;
      margin-left: 30px;
      text-transform: uppercase;
      background: rgba(57, 73, 171, 0.8);
      font-weight: 500;
      outline: none;
      position: relative;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
   }
   .my-3 {
      background: rgba(57, 73, 171, 0.8);
      color: #fff;
   }
   .my-3:hover {
      background: rgba(40, 53, 147, 0.8);
   }
   .my-3:focus{
      background: rgba(40, 53, 147, 0.8);
   }
   .my-3:active {
      background: rgba(26, 35, 126,0.8);
      top: 2px;
   }
   .my-3:before {
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      line-height: 3;
      font-size: 140%;
      width: 60px;
   }
   .my-3d {
      /* padding: 25px 60px 25px 120px; */
      border-radius: 5px 5px 5px 5px;
   }
   .my-3d:before {
      content: "\f002";
      font-family: FontAwesome;
      background: #f9fbe7;
      width: 20%;
      color: rgba(57, 73, 171, 0.8);
      z-index: 2;
      border-radius: 5px 0 0 5px;
   }

   .my-3d:active:before {
      color: rgba(26, 35, 126,0.8);
   }