/*troll.gg css요소*/
.ngNavIndex{
		/*top:30%;
		position: fixed;*/
		transition: all 0.5s;
	}
	.ngNavOther{
		/*top:0%;
		position: fixed;*/
		transition: all 0.5s;
	}
	
	.ngFade{
		opacity: 1
	}
	.ngFade.ng-enter{
		opacity: 0;
		transition:all 1s;
	}
	.ngFade.ng-enter-active{
		opacity: 1;
	}
	.ngGridSearch{
		transition: all 0.5s
	}
	.section{
		z-index:1;
	}
	

	#myVideo{
		position: absolute;
		right: 0;
		bottom: 0;
		top:0;
		right:0;
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
 		background-color: black; /* in case the video doesn't fit the whole page*/
  		background-image: /* our video */;
  		background-position: center center;
  		background-size: contain;
   		object-fit: cover; /*cover video background */
   		z-index:1;
	}
	.backCover{
		position: absolute;
		right: 0;
		bottom: 0;
		top:0;
		right:0;
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
 		background-color: rgba(0,0,0,0.5); /* in case the video doesn't fit the whole page*/
  		background-image: /* our video */;
  		background-position: center center;
  		background-size: contain;
   		object-fit: cover; /*cover video background */
  		z-index:2;
   		transition: all 0.5s;
	}
	.backImage{
		position: fixed;
		right: 0;
		bottom: 0;
		top:0;
		right:0;
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
 		background-color: rgba(0,0,0,0.5); /* in case the video doesn't fit the whole page*/
  		background-image: /* our video */;
  		background-position: center center;
  		background-size: contain;
  		z-index: 0;
	}
	.backCover.ng-leave{
		background-color: rgba(0,0,0,1);
		transition: all 1s;
	}
	.backCover.ng-leave-active{
		background-color: rgba(0,0,0,0);
		transition: all 1s;
	}

