/*troll.gg css요소*/
.ngNavIndex{
		top:30%;
		position: fixed;
		transition: all 0.5s;
	}
	.ngNavOther{
		top:0%;
		position: fixed;
		transition: all 0.5s;
	}
	
	.ngFade{
		opacity: 1
	}
	.ngFade.ng-enter{
		opacity: 0;
		transition:all 1s;
	}
	.ngFade.ng-enter-active{
		opacity: 1;
	}
	.ngGridSearch{
		transition: all 0.5s
	}