<!-- <table>
	<th>소환사</th><th>티어</th><th>승리</th><th>패배</th>
	<tr ng-repeat="item in data.entry" style="color: white">
		<td>{{item.playerOrTeamName}}</td>
		<td>{{item.tier}}</td>
		<td>{{item.wins}}</td>
		<td>{{item.losses}}</td>
	</tr>
</table> -->
<div class="container">
	<div class="row center-align">
		<div class="col s12" style="color: white; font-size: 30px;">랭킹</div>

		<div class="col s12 right-align" style="color: #BDBDBD; height: 30px;">래더랭킹은 마스터 이상부터 표시됩니다.</div>

		<div class="col s12 valign-wrapper" style="background-color: white; color: black; border: 1px solid #D5D5D5; font-weight: bold; height: 50px;">
			<div class="col s2">#</div>
			<div class="col s3">소환사</div>
			<div class="col s2">티어</div>
			<div class="col s2">리그포인트</div>
			<div class="col s1">승리</div>
			<div class="col s1">패배</div>
			<div class="col s1">승률</div>
		</div>

    	<div class="col s12 valign-wrapper" ng-repeat="item in data.entry | orderBy:'-leaguePoints'" style="color: black;border-left: 1px solid #D5D5D5; border-right: 1px solid #D5D5D5; border-bottom: 1px solid #D5D5D5; background-color:#EAEAEA; height: 60px;">
    		<div class="col s2">{{$index + 1}}</div>
    		<div class="col s3" style="font-weight: bold;">{{item.playerOrTeamName}}</div>
    		<div class="col s2">{{item.tier}}</div>
    		<div class="col s2">{{item.leaguePoints}}</div>
    		<div class="col s1">{{item.wins}}</div>
    		<div class="col s1">{{item.losses}}</div>
    		<div class="col s1">{{item.wins | winningrate : item.losses}}%</div>
    	</div>

    	<div class="col s12 valign-wrapper" ng-repeat="item in data.master | orderBy:'-leaguePoints'" style="color: black;border-left: 1px solid #D5D5D5; border-right: 1px solid #D5D5D5; border-bottom: 1px solid #D5D5D5; background-color:#EAEAEA; height: 60px;">
    		<div class="col s2">{{$index + 1}}</div>
    		<div class="col s3" style="font-weight: bold;">{{item.playerOrTeamName}}</div>
    		<div class="col s2">{{item.tier}}</div>
    		<div class="col s2">{{item.leaguePoints}}</div>
    		<div class="col s1">{{item.wins}}</div>
    		<div class="col s1">{{item.losses}}</div>
    		<div class="col s1">{{item.wins | winningrate : item.losses}}%</div>
    	</div>

    </div>
</div>