<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
<link rel="stylesheet" href="/resources/static/jquery.fullPage.css">
<link rel="stylesheet" type="text/css" href="/resources/static/troll.css">
<link rel="stylesheet" type="text/css" href="/resources/static/search.css">
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
<title>Angular and FullPage and Materialize</title>
<script type="text/javascript"	src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<!-- static데이터 불러오기 -->
<script src="/resources/static/angular.js"></script>
<script src="/resources/static/angular-route.js"></script>
<script src="/resources/static/angular-resource.js"></script>
<script src="/resources/static/angular-animate.js"></script>
<script src="/resources/static/jquery.fullPage.js"></script>
<script src="/resources/static/angular-fullpage.js"></script>
<script src="/resources/static/angular-cookies.js"></script>
<script>
var myApp=angular.module("exampleApp",["ngRoute","fullPage.js","ngResource","ngAnimate","ngCookies"]);
//config
myApp.config(function($routeProvider,$locationProvider) {
	$locationProvider.html5Mode({
		enabled: true,
 	 requireBase: false
	});
	$routeProvider.when("/",{
		templateUrl:"/resources/page/index/index.html",
		controller:"indexCtrl"
	});
	$routeProvider.when("/index.html",{
		redirectTo:"/"
	});
	$routeProvider.when("/static/",{
		templateUrl:"/resources/page/static/static.html",
		controller:"staticCtrl"
	});
	$routeProvider.when("/:summonerName",{
		templateUrl:"/resources/page/search/search.html",
		controller:"searchCtrl"
	});
	
	$routeProvider.otherwise({
		redirectTo:"/"
	})
});
myApp.run(function($rootScope,$window){
	//첫로드가 전부 완료됐을시 페이지 보임
	$rootScope.fullLoad=false;
	$window.onload=function(){
		$rootScope.fullLoad=true;
		$rootScope.$apply();

	}
});

</script>
<!-- 사용자 정의 서비스 컨트롤러 디렉티브들 ...-->
<!-- 인덱스페이지 컨트롤러및 디렉티브 -->
<script src="/resources/page/index/indexctrl.js"></script>
<script src="/resources/page/index/indexdirective.js"></script>
<!-- 검색페이지 컨트롤러 및 디렉티브 -->
<script src="/resources/page/search/searchctrl.js"></script>
<script src="/resources/page/search/searchdirective1.js"></script>
<script src="/resources/page/search/currentGame/currentdirective.js"></script>

<!-- staticData(롤백과)페이지 컨트롤러 및 디렉티브 -->
<script src="/resources/page/static/staticctrl.js"></script>
<script src="/resources/page/static/staticdirective.js"></script>
<script src="/resources/page/static/staticservice.js"></script>
<script src="/resources/page/search/currentGame/currentGameService.js"></script>
<!-- 공용디렉티브 -->
<script src="/resources/publicdirective/public-directive.js"></script>
<!-- 필터 -->
<script src="/resources/filter/filter.js"></script>
<!-- ajax서비스와 공용서비스 -->
<script src="/resources/service/ajax-service.js"></script>
<script src="/resources/service/model-service.js"></script>
</head>
<body>
<!-- 처음 페이지 로딩시 로딩영역 -->
<loading class="firstLoad" ng-if="!fullLoad"></loading>
<!-- 인덱스페이지가 아니면 사라지는 동영상 투명도 커버 -->
<back-cover ng-if="fullLoad"></back-cover>
<img class="backImage" src="/resources/static/backimage.jpg">

<div ng-if="fullLoad" ng-view class="ngFade">
</div>

</body>
</html>