<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
   <title>first angular</title>
<style type="text/css">
	
#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background: #444;
}

</style>
<script src="angularjs/angular.js"></script>
<script src="angularjs/angular-route.js"></script>
<script src="angularjs/angular-resource.js"></script>
<script type="text/javascript"  src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script   src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script>
var myApp=angular.module("exampleApp",["ngResource","ngRoute"]);
myApp.config(function($routeProvider) {
	console.log("$routeProvider")
	// $routeProvider.when("/update" , {templateUrl : 'update.html'} )
	// .when("/insert" , {templateUrl : 'insert.html'})
})

myApp.factory('sangResource', function($resource){
	console.log("factory activated");
	return $resource("http://localhost:8080/user" + "/:username", {username : "@username"}, {get:{method : "GET", isArray:false}});
});

myApp.factory('server', function($resource){
	console.log("server factory activated");
	return $resource("http://localhost:8080/server", "", {get:{method : "GET"}});
});


myApp.controller('sangcontoller', function($filter, $scope , $http, server){


// -------------------------------

	// serverstats.onreadystatechange = function () {

	// 	$scope.$apply(function () {
	// 		if (serverstats.readyState == 4 && serverstats.readyState == 200){
	// 		$scope.stats = JSON.parse(serverstats.responseText);
	// 		}
	// 		console.log("SOME SHIT DID THE TRICK")
	// 	});
	// }
	// serverstats.open("GET", "http://status.leagueoflegends.com/shards/kr", true);
	// serverstats.send();

	// console.log("scope.stats: " + $scope.stats);




// -----------------------------------------
	// console.log("sangcontroller")
	// $scope.data;
	// $scope.search = function () {
	// 	sangResource.get({username : $scope.searchinput}).$promise.then(function(data){
	// 	console.log("check1: " + data)
	// 	$scope.userdata = data['userData'];
	// 	$scope.leaguedata = data['leagueData'];
	// 	$scope.entry = data['leagueData'].entrylist[0];
	// 	console.log("check2: " + $scope.leaguedata);
	// 	console.log("check3: " + $scope.entry);
	//  } , function(err){console.log(err)});
	// }
	// $scope.searchinput = ""

	// $scope.search = function () {
	// 	console.log('click');
	// 	server.get("").$promise.then(function (data) {
	// 		console.log("SERVER?????????: " + data['locale']);
			
	// 	})
	// }

	$scope.onreadystatechange = function () {
		$scope.doit()
	}




	$scope.serverlist = ['BR', 'EUNE', 'EUW', 'JP', 'KR', 'LAN', 'LAS', 'NA', 'OCE', 'PBE', 'RU', 'TR']
	var serverstats = new XMLHttpRequest();
	$scope.server = 'na'

	$scope.switchkr = function () {
		console.log('click');
		$scope.server = $filter('lowercase')("KR")
		$scope.doit()
	}
	$scope.switchna = function () {
		console.log('click');
		$scope.server = $filter('lowercase')("na")
		$scope.doit()
	}
	$scope.switchjp = function () {
		console.log('click');
		$scope.server = $filter('lowercase')("JP")
		$scope.doit()
	}

	$scope.doit = function () {
		$http.get('http://status.leagueoflegends.com/shards/' + $scope.server)
			.success(function(result){
				$scope.stats = result;
			})
			.error(function (data, status) {
				console.log('ERRor');
			})
	}


	$http.get('http://status.leagueoflegends.com/shards/' + $scope.server)
		.success(function(result){
			$scope.stats = result;
		})
		.error(function (data, status) {
			console.log('ERRor');
		})

		console.log($scope)

	// $filter(function() {
	// 	if($scope.stats.)
	// })

	// var something = 
	$scope.getFullDate = function( str ) {
		// var sttr = str;
		// var test = sttr.search(/d/d/d/d)
		// var text = str.split("-")[0] + ""
		return str.split("T")[0];
	};
	 
	


});
</script>
</head>
<body ng-controller="sangcontoller">
<div class="row">
<!-- 	<div class="col s10">
		<input type="text" data-ng-model="searchinput">
	</div> -->
	<div >
		<a class="btn" data-ng-click="switchkr()">KR</a>
		<a class="btn" data-ng-click="switchna()">NA</a>
		<a class="btn" data-ng-click="switch()">KR</a>
		<a class="btn" data-ng-click="switch()">KR</a>
	</div>

</div>

<br>
<br>
서버위치 : ({{stats.name}})
<br>
{{stats.services[0].name}} <br>
온라인 상태여부 : {{stats.services[0].status}}<br>

<br>
<hr>
<br>
{{stats.services[1].name}} <br>
Online? : {{stats.services[1].status}}<br>
Updates : {{stats.services[1].incidents[0].updates[0].created_at}}<br>
{{stats.services[1].incidents[0].updates[0].content}} <br>

<br>
<hr>
<br>
services-update-alpha-name : {{stats.services[0].incidents}}
<br>
<hr>
<br>
티어 : {{leaguedata.tier}}&nbsp;{{entry.division}} 
<br>
<hr>
<br>
 LP : {{entry.leaguePoints}}
<br>
<hr>
<br>
---------------------PARTY STARTS HERE-------------------------------------
<br>
<h2>서버 지역: {{stats.name}}</h2>
<div data-ng-repeat="servers in stats.services" >
<!-- services [1] is going on, lets say.  -->
	<h3>{{servers.name}}</h3>

	<div data-ng-if="servers.status === 'online'">
		<p style="font-size: 20px; color: green">Server Online</p>
	</div>
	<div data-ng-if="server.status === 'offline'">
		<p style="font-size: 20px; color: red">Server Offline</p>		
	</div>
	<!-- {{servers.incidents.length}} -->
	<div data-ng-if="servers.incidents.length !== 0">
		<!-- there's an incident?<br> -->
		<div data-ng-repeat="incis in servers.incidents">
			<div>
				<!-- 안내 - {{incis.created_at }} &nbsp;<br> -->
				안내 - {{ getFullDate(incis.created_at) }} &nbsp;<br>

				<!-- | filter:"\d\d\d\d\-\d\d\-\d\d" -->
			</div>
			{{incis.updates[0].content}}
		</div>

	</div>
</div>
<br>
<br>

