@media (max-width: 1100px) {
.sname{
	font-size: 1px;
}
.sname2{
	font-size: 1px;
}
}




/*.container.currentGame{
		
		background-image: url("/resources/page/search/currentgame/images/Background2.png");
		background-size: 100%;
		padding-top: 1%;
}*/

.sname{
	text-align: center;
	padding-right: 0px;
	padding-left: 0px;
	color: white;
	/*color: #489CFF;
	border-color: #489CFF;FF7E7E
	border-width: 1px;
	border-style: solid;
	background-color: black;*/
}
.sname2{
	text-align: center;
	padding-right: 0px;
	padding-left: 0px;
	color: white;
	/*color: #FF7E7E;
	background-color: #A6A6A6;*/
}

.cname{
	text-align: center;
	color: #FF1212;
	font-weight: bold;
	font-size: 15px;
	/*background:rgba(0,0,0,0.7);*/
	/*color: #489CFF;
	border-color: #489CFF;FF7E7E
	border-width: 1px;
	border-style: solid;
	background-color: black;*/
}
.cname2{
	text-align: center;
	color: #00D8FF;
	font-weight: bold;
	font-size: 15px;
	/*background:rgba(0,0,0,0.7);*/
	/*color: #FF7E7E;
	background-color: #A6A6A6;*/
}


.tooltipName{
	text-align: left;
	font-size: 15px;
	color: orange;
}

.tooltipDesc{
	text-align: left;
	font-size: 12px;
}

.tooltipMName{
	text-align: left;
	font-size: 15px;
	color: #B2CCFF;
}

.tooltipMDesc{
	text-align: left;
	font-size: 12px;
}

.gtype{
	font-size: 17px;
}

.championimg{
	border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-image: url('/resources/page/search/currentgame/images/{{data.tier1[$index]}}.png') 6 5 7 6 round;
}

.championimg2{
	border-style: solid;
    border-width: 7px 5px 5px 5px;
    border-image: url('/resources/page/search/currentgame/images/{{data.tier2[$index]}}.png') 7 7 8 7 round;
}

.logo{
	width: 100%;
	position: relative;
	z-index: 1;
}