<!-- <nav>
   <div class="nav-wrapper main-nav row">
 
       <a href="#" class="brand-logo">&nbsp;&nbsp;Troll.GG</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li class="row">
       <div class="logo-search-field col s12">
        <input  type="search" class='col s10 logo-search-input'  required placeholder="소환사명 검색" ng-model='summonerName'>
        <label for="search" class="search-label"><i class="material-icons" ng-click="search(summonerName)">search</i></label>
    </div>
    </li>
      <li><a href="/static">롤 백과사전</a></li>
      <li>&nbsp;</li>
      <li><index-checkbox></index-checkbox></li>
     </ul>
    </div>

 </nav> -->
  

  
<div class="backCover" style="z-index: 5;" ng-click="coverClick()" ng-if="coverLayout.on">
</div>
<div class="fixed-action-btn toolbar" style="top:0%" ng-click="menuClick()">
    <a class="btn-floating btn-large indigo darken-3">
      <i class="large material-icons">view_week</i>
    </a>
    <ul>
      <li class="waves-effect waves-light" tooltipped data-position="bottom" data-delay="100" data-tooltip="검색"><a href="/"><i class="material-icons">search</i></a></li>
      <li class="waves-effect waves-light" tooltipped data-position="bottom" data-delay="100" data-tooltip="백과사전"><a href="/static"><i class="material-icons">book</i></a></li>
      <li class="waves-effect waves-light"><a href="/static"><i class="material-icons">book</i></a></li>
      <li class="waves-effect waves-light"><a href="/static"><i class="material-icons">book</i></a></li>
      <li class="waves-effect waves-light"><a href="/static"><i class="material-icons">book</i></a></li>
    </ul>
</div>