<div class='container'>
	<div class="row">
		<nav class='search-nav'>
			<div class="nav-wrapper">
				<div class="search-field input-field col s10">
					<input id="search" type="search"  required placeholder="소환사명 검색" ng-model='summonerName'>
					<label for="search" class="search-label"><i class="material-icons">search</i></label>
				</div>
				<button type='button' class='col s2 my icon-search waves-effect waves-light' ng-click="search(this)"><span class=" hide-on-med-and-down">search</span>&nbsp;</button>
			</div>
		</nav>
	</div>
</div>