<div class='container'>
			<div class="row">
				<nav class='active'>
					<div class="nav-wrapper">
						<div class="input-field col s10">
							<input id="search" type="search"  required placeholder="소환사명 검색" ng-model='summonerName'>
							<label for="search"><i class="material-icons">search</i></label>
						</div>
						<button class='col s2 hvr-icon-grow-rotate waves-effect waves-light' ng-click="search()"><i class="fa fa-search fa-2x">검색</i></button>
					</div>
				</nav>
			</div>
		</div>