<ul id="slide-out" class="side-nav side-mobile-nav" style="transform: translateX(-100%);">
	<li>
		<div class="row" style="margin-bottom: 0px;">
			<div class="col s6 hover" >
				<index-musicicon></index-musicicon>
			</div>
			<div class="col s6 hover">
				<index-videoicon></index-videoicon>
			</div>
		</div>
	</li>
	<li>
		<div class="userView summonerdata center-align row padding-top-hide">
			<div class="col s12 padding-hide">
				<img class="responsive-img" ng-srcset="/resources/static/logo.png">
			</div>
		</div>
	</li>
	<li style="padding-right: 10px; padding-left: 10px;">
	<div class="side-search-input valign-wrapper">
		<input type="search" placeholder="소환사명 입력" required ng-model="summonerName" ng-keypress="keysearch($event,summonerName)">
		<div class="search-btn center-align waves-effect waves-light valign-wrapper" data-ng-click="search(summonerName)"><i class="fa fa-search valign" aria-hidden="true"></i></div>
	</div>
</li>
	<li>
		<ul class="collapsible collapsible-accordion" data-collapsible="accordion">
			<li class="bold center-align">
			<a class="collapsible-header waves-effect waves-blue">유저메뉴<i class="fa fa-caret-square-o-down right " aria-hidden="true"></i></a>
			<div class="collapsible-body side-nav-usermenulist">
				<ul>
				<li><a class="waves-effect waves-light padding-hide" href="#" ng-click="clicktest($event)">최근게임</a></li>
				<li><a class="waves-effect waves-light padding-hide" href="#" ng-click="clicktest($event)">현재 게임</a></li>
				<li style="border-bottom: none;"><a class="waves-effect waves-light padding-hide" href="#" ng-click="clicktest($event)">트롤 탐색기</a></li>
				</ul>
			</div> 
			</li>
		</ul>
        <!--     <a class="collapsible-header waves-effect waves-blue">Dropdown<i class="material-icons">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            <li><a href="#!">First</a></li>
            <li><a href="#!">Second</a></li>
            <li><a href="#!">Third</a></li>
            <li><a href="#!">Fourth</a></li>
          </ul>
      </div> -->
  </li>
</ul>
