<div class="container">
	<div class="row">
		<div class="col s12 white-text" style="background-color: rgba(0,0,0,0.9); border-radius: 5px">
			<form name="boardform" novalidate>
				<div input-field class="col s12">
					<select class="white-text" name="category" ng-model="createBoard.board_category" material-select watch required>
						<option value="" disabled selected>트롤종류를 선택하십시오</option>
						<option ng-repeat="text in category" value="{{text}}">{{text}}</option>
					</select>
				</div>
				<div class="col s6 input-field inline">
					<input id="boardwriter" name="writer" type="text" class="validate" required ng-model="createBoard.board_writer">
					<label for="boardwriter">작성자</label>
				</div>
				<div class="col s6 input-field inline">
					<input id="boardpassword" name="password" type="password" class="validate" required ng-model="createBoard.board_password">
					<label for="boardpassword">암호</label>
				</div>
				<div class="col s12 input-field inline">
					<input id="boardsubject" name="subject" type="text" class="validate" required ng-model="createBoard.board_subject">
					<label for="boardsubject" >제목</label>
				</div>
				<div class="input-field col s12">
					<textarea id="boardcontent" name="content" required class="materialize-textarea" ng-model="createBoard.board_content"></textarea>
					<label for="boardcontent">내용</label>
				</div>
				<div class="row center">
					<button class="btn" ng-click="create(createBoard)" ng-disabled="boardform.$invalid">입력</button>
					<button class="btn" ng-click="back()">되돌아가기</button>
				</div>
			</form>
		</div>
	</div>
</div>