<!-- locale 셀렉트박스 -->
<div class="row">
	<div class="col s12 l3 center ngFade" ng-show="!category.loading">
		<static-nav></static-nav>
	</div>
</div>
<div class="container">
	<div class="row center">
		<!-- 카테고리 -->
		<div class="ngFade" ng-if="!category.loading">
			<static-category></static-category>	
		</div>
		<div ng-if="category.error">
			<error 
			error-code="{{category.errorCode}}" 
			error-message="{{category.errorMessage}}"></error>
		</div>
		
	</div>
	
	<!-- 메인뷰 -->
	<div ng-switch on="main.view">
		<div class="ngFade" ng-switch-when="champion">
			<static-champion></static-champion>
		</div>
		<div class="ngFade" ng-switch-when="item">
			<static-item></static-item>
		</div>
		<div class="ngFade" ng-switch-when="mastery">
			
		</div>
		<div class="ngFade" ng-switch-when="rune">
			<static-rune></static-rune>
		</div>
		<div class="ngFade" ng-switch-when="summoner">
			<static-summoner></static-summoner>
		</div>
		<div class="ngFade" ng-switch-when="error">
			<error error-code="{{main.errorCode}}" 
			error-message="{{main.errorMessage}}"></error>
		</div>
		<div ng-switch-when="loading">
			<div class="row center">
				<loading></loading>
			</div>
		</div>
	</div>
</div>