<div class="row">

		<button class="btn" ng-click="buttonClick('champion')">{{data.language.data.categoryChampion}}</button>
	
	
		<button class="btn" ng-click="buttonClick('item')">{{data.language.data.categoryItem}}</button>
	
	<!-- <div class="col s2">
		<button class="btn" ng-click="buttonClick('mastery')">{{data.language.data.categoryMastery}}</button>
	</div> -->
	
		<button class="btn" ng-click="buttonClick('rune')">{{data.language.data.categoryRune}}</button>
	
		<button class="btn" ng-click="buttonClick('summoner')">{{data.language.data.categorySummoner}}</button>	
	
</div>
