<div class="row">
	<div class="col s3">
		<button class="btn" ng-click="buttonClick('champion')">{{data.language.data.categoryChampion}}</button>
	</div>
	<div class="col s2">
		<button class="btn" ng-click="buttonClick('item')">{{data.language.data.categoryItem}}</button>
	</div>
	<!-- <div class="col s2">
		<button class="btn" ng-click="buttonClick('mastery')">{{data.language.data.categoryMastery}}</button>
	</div> -->
	<div class="col s2">
		<button class="btn" ng-click="buttonClick('rune')">{{data.language.data.categoryRune}}</button>
	</div>
	<div class="col s2">
		<button class="btn" ng-click="buttonClick('summoner')">{{data.language.data.categorySummoner}}</button>	
	</div>
</div>
