/*base css*/
.tff div{
	color: white;
	font-size: 14px;
	margin: 0;
	padding: 0;
	background-color: rgba(173,181,204,0.5);
}
.tffnav{
	color: white;
	font-size: 14px;
	margin: 0;
	padding: 0;
	background-color: rgba(153,161,184,0.5);
}
.object img{
	width: 20px;
	height: 20px;"
}
.ci{
	width: 70px; height: 100px;
}
.ci img{
	width: 70px; height: 70px;
}
.si{
	width: 20px; height: 20px;
}

.itemi{
	width: 30px; height: 30px;
}
.dealt{
	color: rgb(000,051,255);
}
.taken{
	color: rgb(242,53,87);
}
.winner{
	color: rgb(000,051,255);
}
.looser{
	color: rgb(255,021,000);
}
.teamName{
	color: rgb(220,215,213);
}
.tierth{
	text-align: center;
	font-size: 16px;
}
.max {
	text-align: right;
}
.tierbar{
	width: 100%;height: 10px;background-color: #ddd;
}
